.align-center {
  text-align: center;
}

.item {
  &.static {
    padding:4px;
    height:500px;
    // display:table-cell;
    // vertical-align:middle;
  }

  img.dish {
    .border-radius(10px);
    margin:5px;
    border: solid 1px #ddd;
  }

  h4 {
    font-size:13px;
    font-weight:900;
  }
  h3 {
    font-weight:300;
    margin:4px;
  }
}