.align-center {
  text-align: center;
}

.item {
  .border-radius(5px);
  padding:4px;
  height:500px;
  display:table-cell;
  vertical-align:middle;
  &:hover {
    background-color: @purple-lighter;
  }
}