.align-center {
  text-align: center;
}

.item {
  &.static {
    height:500px;
  }

  img.dish {
    .border-radius(10px);
    margin:5px;
    border: solid 1px #ddd;
    max-width: 100%;
  }

  h4 {
    font-size:13px;
    font-weight:900;
    text-align:left;
  }
  h3 {
    font-weight:300;
    margin:6px;
  }
  .btn {
    float:right;
  }
}