<div when-scrolled="loadMore()">
  <div class='row'>
    <div class='col-md-6'>
      <h5>Filter</h5>
      <select ng-model='currentFilterKeyword' ng-options="kw as kw for kw in filterKeywords" class='form-control' ng-change="init()"></select>
    </div>
    <div class='col-md-6'>
      <h5>Radius (in miles)</h5>
      <select ng-model='currentRadi' ng-options="radi as radi for radi in radius" class='form-control' ng-change="init()"></select>
    </div>
  </div>
  <div row ng-repeat="place in places">
    <div class='item align-center'>
      <h3>{{place.name}}</h3>
      <h4>{{place.vicinity}}</h4>
      <button class='btn' ng-click="showLocation(place)">
        <span class='fa fa-map-marker'></span>
      </button>
      <br>
      <br>
      <img ng-repeat="photo in place.photos_filtered" ng-src="{{photo.image_thumbnail}}" class='dish'>
    </div>
  </div>
  <div ng-show="showWarningMessage()">
    <br>
    <div class="alert alert-warning" role="alert">No results</div>
  </div>
</div>