<html>
<head>
<title>jQT Mail</title>
<style type="text/css" media="screen">@import "/jqtouch/themes/css/apple.css";</style>
<style type="text/css" media="screen">
.edgetoedge li a .preview, .edgetoedge li a .subject {
  display: block;
  color: #999;
  font-size: 12px;
  font-weight: normal;
}
.edgetoedge li a .subject {
  color: #000;
  font-size: 14px;
}
</style>
<script src="/jqtouch/src/lib/zepto.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/jqtouch/src/jqtouch.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
var jqtouch = $.jQTouch({
icon: 'mail.png',
preloadImages: [
'themes/jqt/img/chevron.png',
'themes/jqt/img/back_button.png',
'themes/jqt/img/back_button_clicked.png',
'themes/jqt/img/button_clicked.png',
'themes/jqt/img/grayButton.png',
'themes/jqt/img/whiteButton.png'
]
});
// Add an onload function
$(function(){
    // Dynamically set next page titles after clicking certain links
    $('#home ul a, #mailbox ul a').click(function(){
      $( $(this).attr('href') + ' h1' ).html($(this).html());
      });
    });
</script>
<%= javascript_include_tag "application" %>
</head>
<body>
<%= yield %>
</body>
</html>

