<!DOCTYPE html>
<html>

<head>
<title>jQT Mail</title>
<style type="text/css" media="screen">@import "jqtouch/themes/css/apple.css";</style>
<style type="text/css" media="screen">
.edgetoedge li a .preview, .edgetoedge li a .subject {
  display: block;
  color: #999;
  font-size: 12px;
  font-weight: normal;
}
.edgetoedge li a .subject {
  color: #000;
  font-size: 14px;
}
</style>
<script src="jqtouch/src/lib/zepto.min.js" type="text/javascript" charset="utf-8"></script>
<script src="jqtouch/src/jqtouch.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
var jqtouch = $.jQTouch({
icon: 'mail.png',
preloadImages: [
]
});
// Add an onload function
</script>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>


<body>
<%= yield %>
</body>


</html>
